@tailwind base;
@tailwind components;
@tailwind utilities;

/* * { 
  background-color: rgb(254 252 232);

} */

footer {
  position:fixed; 
  bottom: 0;
  z-index: 1000;
}

@layer components {
  .navbar-active .hamburger div:first-child {
  @apply rotate-45 translate-y-1.5;
  }
  .navbar-active .hamburger div:last-child {
  @apply -rotate-45 -translate-y-1;
  }
  .navbar-active div:first-child div:first-child div:last-child{
      @apply block lg:flex
  }
}

.search{
  margin-bottom: auto;
  margin-top: auto;
  height: 70px;
  background-color: #fff;
  border-radius: 40px;
  padding: 10px;
  }

  .search_input{
  color:  rgb(14 165 233);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top:5px;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .search .search_input{
  padding: 0 10px;
  width: 550px;
  caret-color:red;
  transition: width 0.4s linear;
  }
  
  .search:hover > .search_icon{
  background:  rgb(67 56 202);
  color: #fff;
  }

  .search_icon{
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  background-color:black;
  }
  
a:link{
  text-decoration:none;
}    